:root {
  --main-text-color: white;
  --accent-color: #9B75A9;
  --accent-color-opacity: #8e749799;
  
  
  --background-main-color: rgba(166, 168, 168, 15%);
  --box-main-color: #7687B0;
  --box-main-light: #5767aa22;
  
  --hover-button-color: grey;
  --secondary-hover-color: #db2b39;

  --item-block-bg: #edefef0d;
  --item-block-border: #f1f1f426;

  --label-text-color: rgba(203, 165, 233, 0.933);
  --post-text-bg-color: #7687B055;

}


body {
  font-family: 'Poppins', sans-serif;
  background: #283958;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  min-height: 100vh;
  color: var(--main-text-color);
}


/* // Main block // */
.main {
  max-width: 1000px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


/* //  Navigation/Header/Burger   // */

.logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
}

.nav-logout {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  background: rgba(166, 168, 168, 15%);
  padding: 20px;
  border-radius: 10px;
  height: 40px;
  border: 1px solid rgba(241, 241, 244, 0.15);
}


.nav-login {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  background: rgba(166, 168, 168, 15%);
  padding: 20px;
  border-radius: 10px;
  height: 40px;
  border: 1px solid rgba(241, 241, 244, 0.15);
}

.nav-login a {
  margin: 0 1.3rem;
  text-decoration: none;
  line-height: 3;
}

.nav-login a:hover,
.nav-login a:focus {
  color: var(--secondary-hover-color);
}

.nav-login nav {
  margin-left: 11%;
}

.nav-block-btn {
  display: flex;
  justify-content: center;
}

.nav-login .nav-btn {
  padding: 1px 10px;
  cursor: pointer;
  background: rgba(166, 168, 168, 13%);
  border-radius: 3px;
  margin: 0;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.nav-login .btn_enter {
  visibility: visible;
  order: 2;

}

.nav-btn:hover,
.nav-btn:focus {
  border: 1px solid var(--hover-button-color);
}

.nav-login .btn-out {
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .nav-login .nav-btn {
    visibility: visible;
    opacity: 1;
    order: 2;
  }

  .nav-login .btn-out {
    visibility: visible;
    padding: 1.5px 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--secondary-hover-color);
    align-items: center;
    font-size: 1.8rem;
  }

  .nav-login .btn_enter {
    visibility: hidden;
    opacity: 1;
  }

  .nav-login nav {
    position: fixed;
    margin-left: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    background-color: rgba(38, 49, 68, 0.836);
    transform: translateY(-100vh);
    z-index: 6;
  }

  .nav-login .responsive_nav {
    transform: none;
  }

  .nav-login .nav-close-btn {
    position: absolute;
    top: 2.6rem;
    right: 1.7rem;
    font-size: 1.8rem;
    padding: 1px 11px;
  }

  .nav-login a {
    font-size: 1.5rem;
  }
}

.ul-li {
  margin-right: 20px;
}

.link{
  text-decoration: none;
  color: var(--main-text-color);
}

.link_enter {
  text-decoration: none;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  padding: 7px 9px;
  font-size: 14px;
  background: rgba(166, 168, 168, 15%);
}

.link_enter:hover,
.link_enter:focus {
  border: 1px solid var(--hover-button-color);
}

/* // Button and links for navigation and options // */

.btn_enter {
  padding: 10px;
  margin: 0;
  background: rgba(166, 168, 168, 15%);
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  color: var(--main-text-color);
  font-size: 14px;
}

.btn_enter:hover,
.btn_enter:focus {
  cursor: pointer;
  border: 1px solid var(--hover-button-color);
}

.link-item {
  color: var(--main-text-color);
  text-decoration: none;
  line-height: 1.6;
}

.btn-edit {
  width: 60px;
  height: 40px;
  background: rgba(166, 168, 168, 15%);
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  color: var(--main-text-color);
  font-size: 14px;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-back:hover,
.btn-back:focus {
  cursor: pointer;
  border: 1px solid var(--hover-button-color);
}

.btn-del {
  width: 60px;
  height: 40px;
  background: rgba(166, 168, 168, 15%);
  border: 1px solid #f00;
  border-radius: 3px;
  font-size: 14px;
}

.btn-del:hover,
.btn-del:focus {
  cursor: pointer;
  background: #f228;
  border: 1px solid var(--main-text-color);
}

.btn-back {
  width: 60px;
  height: 40px;
  background: rgba(166, 168, 168, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  color: var(--main-text-color);
}

/* // Offers page // */

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  margin: 2% auto;
}

/* // Offer Item card on Offers page// */

.offer-card {
  width: 250px;
  margin: 20px 20px;
  padding: 10px 15px;
  display: flex;
  flex-direction:column;
  background: var(--item-block-bg);
  border-radius: 15px;
  border: 1px solid var(--item-block-border);
}

.offer-card ul {
  padding-left: 0;
  margin: 10px;
}

.offer-card li {
  list-style: none;
  margin: 16px 0;
}

.offer-model {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--accent-color-opacity);
  border: 1px solid var(--hover-button-color);
}

.offer-initials {
  border: 1px solid var(--item-block-border);
  background: var(--item-block-bg);
  opacity: .9;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 10px auto;
}


/* // Offers Delete page // */
.offer-del-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 325px;
  margin: 3.3% auto;
  border: 2px solid var(--item-block-border);
  padding: 25px;
  border-radius: 20px;
}

.offer-del-page li:nth-child(1) {
  display: flex;
  justify-content: center;
}

.offer-del-page li {
  display: flex;
  justify-content: flex-start;
}

.offer-del-page label {
  margin-right: 10px;
  color: var(--label-text-color);
}

.offer-del-page .offer-nav:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}


/* // Add post page // */
.add-post-page {
  max-width: 800px;
  min-width: 200px;
  margin: 3.3% auto;
}

.add-post {
  display: flex;
  flex-direction: column;
  background: rgba(237, 239, 239, 0.05);
  border-radius: 15px;
  border: 1px solid rgba(241, 241, 244, 0.15);
  padding: 25px 30px;
}

.input-form {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--hover-button-color);
  min-height: 25px;
  font-size: 15px;
  margin-bottom: 20px;
}

.add-post input:nth-child(1) {
  max-width: 150px;
}

.input-form:focus {
  box-shadow: 0 0 0 5px var(--accent-color);
}

.input-form-text {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--hover-button-color);
  min-height: 250px;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-form-text:focus {
  box-shadow: 0 0 0 5px var(--accent-color);
}

.add-post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.add-post-nav .post-edit-btn {
  padding: 10px;
  margin-top: 10px;
  background: var(--background-main-color);
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  color: var(--main-text-color);
  font-size: 14px;
}

.add-post-nav .post-edit-btn:hover,
.add-post-nav .post-edit-btn:focus {
  cursor: pointer;
  border: 1px solid var(--hover-button-color);
}


.add-post-nav .post-clear-btn {
  padding: 10px;
  margin-top: 10px;
  background: var(--background-main-color);
  border: 1px solid #f10101;
  border-radius: 3px;
  color: var(--main-text-color);
  font-size: 14px;
}

.add-post-nav .post-clear-btn:hover,
.add-post-nav .post-clear-btn:focus {
  background: #ff2222;
  cursor: pointer;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
}

/* // Edit post page // */
.edit-page {
  margin-top: 3.3%;
}

.edit-page-nav {
  display: flex;
  justify-content: right;
}

.save-btn {
  padding: 10px;
  margin-top: 10px;
  background: var(--background-main-color);
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  color: var(--main-text-color);
  font-size: 14px;
}

.save-btn:hover,
.save-btn:focus {
  cursor: pointer;
  border: 1px solid var(--hover-button-color);
}

/* // Login/Register // */

.login-page {
  max-width: 450px;
  margin: 6% auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--item-block-bg);
  border-radius: 15px;
  border: 1px solid var(--item-block-border);

}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-form-input {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--hover-button-color);
  min-width: 250px;
  font-size: 16px;
}

.login-form-input:focus {
  box-shadow: 0 0 0 5px var(--accent-color);
}

.login-form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.login-form-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.login-form-nav .link-login {
  text-decoration: none;
  color: var(--main-text-color);
}

.login-form-nav .link-login:hover,
.login-form-nav .link-login:hover {
  color: red;
}

/* // ===== Post item and card view ==== // */

.post-nav {
  display: flex;
  justify-content: flex-start;
}

.post-item {
  margin-bottom: 3.3%;
  background: var(--item-block-bg);
  border-radius: 15px;
  border: 1px solid var(--item-block-border);
  padding: 15px 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--accent-color-opacity);
  border-radius: 10px;
  border: 1px solid var(--item-block-border);
}

.post-data {
  font-size: 14px;
  padding: 5px 10px;
}

.post-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  padding-left: 0;
  margin-top: 0;
}

.post-block li {
  display: flex;
  align-items: center;
  list-style: none;
  word-break: break-all;
}

.post-url > p {
  margin: 10px auto;
}

.post-url {
  border: 1px solid var(--item-block-border);
  background: var(--item-block-bg);
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;

}

.post-text {
  border: 1px solid var(--item-block-border);
  background: var(--post-text-bg-color);
  opacity: .9;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
}

.post-full-page {
  margin-top: 2.1%;
}

.post-full-item {
  margin-top: 2.6%;
}

.post-full-nav {
  display: flex;
  justify-content: flex-start;
}

.post-full-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* // Search post page // */
.search {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid grey;
  width: 70%;
  margin-left: 5px;
  font-size: 16px;
}

.search:focus {
  box-shadow: 0 0 0 5px var(--accent-color);
}

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.7%;
}

.searchLogo {
  transform: scaleX(-1);
}



/* // Loading animation // */

.wrapper {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}